@using System.IdentityModel.Tokens.Jwt
@{
    string token = Context.Request.Cookies["AccessToken"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StoryMaker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:7192/Home/HomePage">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <form method="get" action="/Home/HomePage" style="display: contents;">
                            <input style="border-radius: 5px" type="text" name="searchTerm" placeholder="Nhập tên sách cần tìm" />
                            <button style="margin-left: 10px; border-radius: 5px; color: blue; border-color:blue" type="submit">Tìm</button>
                        </form>

                        @* @if (Context.Session.GetString("Email") != null)
                        { 
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Authentication/ChangeUserInfor?userId=@Context.Session.GetInt32("ID")">Xin chào: @Context.Session.GetString("Fullname")</a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark">Library</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Đăng xuất</a>
                            </li>
                        } *@


                        @* else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="https://localhost:7023/Authentication/Login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="https://localhost:7023/Authentication/Register">Đăng ký</a>
                            </li>
                        } *@
                        @if (!string.IsNullOrEmpty(token))
                        {
                            var handler = new JwtSecurityTokenHandler();
                            var jsonToken = handler.ReadToken(token) as JwtSecurityToken;
                            if (jsonToken != null)
                            {
                                var roleClaim = jsonToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value;

                                if (roleClaim.ToLower() == "admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ChapterManage/Index">Manage web</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">Library</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Authentication/Logout">Đăng xuất</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="https://localhost:7192/Authentication/Login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="https://localhost:7192/Authentication/Register">Đăng ký</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer> *@
    <!-- Thư viện CKEditor -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>